html, body {
    font-family: 'Fira Sans', sans-serif;

}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 {
    font-weight: bold;
}

a {
    color: black;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: #444;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color:#93c054;
    /* color: #35cc34; */
}


.shopper-logo {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 1rem;
}

.shopper-logo-mobile {
    height: 50px;
    display: none;
}



.faq {

    margin: 0;
}

.faq-text {
    color: black;
    margin: 0;
}

.panel-group .panel {
    border-radius: 0;
}

.navbar-brand{
    font-family: helvetica;
    color: #444;
    font-weight: bold;

}

.navbar-inverse .navbar-brand:focus, .navbar-inverse .navbar-brand:hover {
    color: #444;
    background-color: transparent;
    font-weight: bold;

}

a:focus, a:hover {
    text-decoration: none;
}

ul.nav {
    font-size: 19px;
}

.app-image {

}

.store-image {
    width: 50%;
}



.text-animation{
	background-color: black;
}


.map-responsive iframe{
    height: 300px;
    width: 450px;
}

::selection {
  background: #a8d1ff;
}

::-moz-selection {
  background: #a8d1ff;
}

.lower-faq,.lower-faq p {
	padding: 0;
	margin: 0;
}


.home-slide-content {
    font-size:60px;
    text-transform:uppercase;
    position:relative;
    margin-bottom:0px;
    text-align:center;
    line-height:1;
}


@media screen and (max-width: 768px) {
    .shopper-logo-mobile {
        display: block;
        height: 50px;
        padding: 5px;
    }
    .shopper-logo {
       /* display: none;*/
    }
	#home-slider {
		display: none;
	}

	.map-responsive iframe{
	padding-top: 15px;
    padding-left: 0;
    padding-right: 0;
    height: 100%;
    width: 100%;
}
    .panel-heading h3 {
        font-size: 1em;
    }

       .app-image {
        display: none;
    }
        .app-image-mobile {
        padding: 15px;
    }

}

@media screen and (min-width: 768px) {
    .navbar-nav {
       margin-left: 10rem 
    }
    .app-image-mobile {
        display: none;
    }
 
}