<div class="container">
    <toaster-container></toaster-container>
    <!--     <div class="row" id="headerRow">
        <div class="col-sm-12">
            <label>Statistics</label>
        </div>
    </div> -->
    <div class="row">
        <div class="col-sm-12">
            <label>Top 10 negative moodswings <i class="fa fa-frown-o"></i></label>
            <table widht="100%">
                <th>Rank</th>
                <th>Swing</th>
                <th>Reason</th>
                <tr ng-repeat="x in statistic.top10">
                    <td width="20%">{{ $index+1 }}</td>
                    <td width="20%">{{ x.difference }}</td>
                    <td width="60%">{{ x.reason }}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <label>Top 10 positive moodswings <i class="fa fa-smile-o"></i></label>
            <table width="100%">
                <th>Rank</th>
                <th>Swing</th>
                <th>Reason</th>
                <tr ng-repeat="x in statistic.flop10">
                    <td width="20%">{{ $index+1 }}</td>
                    <td width="20%">{{ x.difference }}</td>
                    <td width="60%">{{ x.reason }}</td>
                </tr>
            </table>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <label>Average Daily Mood (Testdata for now)</label>
            <canvas id="line" class="chart chart-line" chart-data="statistic.chartOverTimeData" chart-labels="statistic.chartOverTimeLabels" chart-series="statistic.chartOverTimeSeries" chart-options="statistic.chartOverTimeOptions" chart-click="onClick">
            </canvas>
        </div>
    </div>
    <hr>
    <div class="row ">
        <div class="col-sm-12 ">
            <label>Type Distribution</label>
            <canvas id="pie " class="chart chart-pie " chart-data="statistic.pieData " chart-labels="statistic.piLabels " chart-options="statistic.pieOptions ">
            </canvas>
        </div>
    </div>
</div>
